<div class="bg">
    <!-- <div>
        <select name="Citites"  id="" >
            <option value=""  *ngFor="let item of lands" >{{item.name}}</option>
        </select>
    </div> -->
    <div class="top-card" *ngIf="cId"> 
        <div class="card" style="margin-right: 1px;"  *ngFor="let item of FilterLandMarks" >
            <img src="{{item.imageUrl}}" alt="Card image">
            <div class="card-body" >    
                <h3 class="card-title">{{item.name}}</h3>
                <p class="card-text">{{item.description}}</p>
                <!-- <p class="card-text">{{item.cityId}}</p> -->
            </div>
        </div >
    </div>
    <div class="top-card" *ngIf="!cId">
        <div class="card" style="margin-right: 1px;"  *ngFor="let item of lands" >
            <img src="{{item.imageUrl}}" alt="Card image">
            <div class="card-body" >    
                <h3 class="card-title">{{item.name}}</h3>
                <p class="card-text">{{item.description}}</p>
                <!-- <p class="card-text">{{item.cityId}}</p> -->
            </div>
        </div >
    </div>
</div>
