<section class="footer" style="background: url(assets/2.jpg);">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a routerLink="/home" routerLinkActive="active">Home </a>  &nbsp;
           <a routerLink="/city" routerLinkActive="active">City</a>&nbsp;
            <a routerLink="/agency" routerLinkActive="active">Agency</a>&nbsp;
          <a routerLink="/aboutUs" routerLinkActive="active">about us</a>&nbsp;
          <a routerLink="/contactUs"routerLinkActive="active" >contact us</a>&nbsp;
        </div>
        <div class="box">
            <h3>extra links</h3>
            <a href="#">my order </a>
            <a href="#">my wishlist</a>
            <a href="#">ask question</a>
            <a href="#">terms of use</a>
            <a href="#">privacy of policy</a>

        </div>
        <div class="box">
            <h3>Contact Info</h3>
            <a href="#" > <i class="fas fa phone"></i>+2012981928 </a>
            <a href="#"><i class="fas fa phone"></i>+2010100929</a>
            <a href="#"><i class="fas fa envelope"></i>escape@gmail.com</a>
            <a href="#"><i class="fas fa map"></i>Egypt</a>
            
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a href="#" > <i class="fa fa-facebook-f"></i>facebook</a>
            <a href="#"><i class="fa fa-twitter"></i>twitter</a>
            <a href="#"><i class="fa fa-instagram"></i>instagram</a>
            <a href="#"><i class="fa fa-linkedin"></i>linkedin</a>
            <a href="#"><i class="fa fa-github"></i>github</a>
            
        </div>
        
    </div>
</section>